<html>
<body>
  <div id="d1" style="height:10%;background:blue">
    Name
  </div>

  <div id="d2"  style="height:60%;width:25%;background:red;float:left">
    image
  </div>
  <div id="d3"  style="height:60%;width:75%;background:yellow;float:right">
    summary+occ
    </div>

        <br>
    <div id="d4"   style="height:30%;width:25%;background:powderblue;float:left">tweets</div>
      <div id="d5" style="height:50%;width:33%;background:orange;float:left">pie</div>
        <div id="d6"  style="height:50%;width:42%;background:brown;float:right">news</div>

    </body>
    </html>
